extends layout

block content
  .p-5.mb-4.bg-body-secondary.rounded-3.my-3
    .container-fluid.py-5
      h1.display-5.fw-bold="Book Store"
      p.col-md-8.fs-4="App de estudo para o módulo 3 da PósTech FIAP. Essa loja utiliza uma base de dados de Livros da Amazon e um sistema de recomendação para indicar livros que talvez o leitor possa gostar."
  
  if results.length > 0
    .row.row-cols-lg-4.row-cols-md-2.row-cols-sm-1.gx-5.gy-5
      for b in results
        .col
          .card.h-100
            a(href=`/book/${b.isbn}`)
              img.card-img-top.rounded(src=`${b.image_url}` title=b.title alt=b.title onerror="if (this.src != '/images/no-image.png') this.src = '/images/no-image.png';")
              .card-body
                h5.card-title= b.title
                p.card-text.truncate= `${b.publication_year} - ${b.author} - ${b.publisher}`
                .badge.bg-success= b.category
  else
    .col
      .h3 Não há livros para exibição.
  br
  br
        

